@tailwind base;
@tailwind components;
@tailwind utilities;

/* LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #f5f5f5;
  }
  
  .login-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .discord-button {
    background-color: #7289da;
    color: white;
  }
  
  .google-button {
    background-color: #db4437;
    color: white;
  }
  